<section class="features-section">
  <app-feature-card
    [title]="'Quick Decisions'"
    [description]="
      'Receive your mortgage eligibility status in minutes, not days.'
    "
  >
  </app-feature-card>
  <app-feature-card
    [title]="'Competitive Rates'"
    [description]="
      'Find the best mortgage rates tailored to your financial situation.'
    "
  >
  </app-feature-card>
  <app-feature-card
    [title]="'Expert Guidance'"
    [description]="
      'Get personalized recommendations for your home financing needs.'
    "
  >
  </app-feature-card>
</section>
